doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        link(href='http://fonts.googleapis.com/css?family=Oswald', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Abel', rel='stylesheet', type='text/css')
        block scripts

    body
        .container
            nav.navbar.navbar-default
                .container-fluid
                    .navbar-header
                        a.navbar-brand To Do List
                    .collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href="/tasks/create") Create
                            li
                                a(href="/tasks/show/active") Show
                            li
                                a(href="/tasks/change") Change
        block content



