extends home
block content
    h1= title
    div.container
        a.btn.btn-primary(href="/tasks/show/pending" role="button") Pending
        a.btn.btn-primary(href="/tasks/show/active" role="button") Active
        a.btn.btn-primary(href="/tasks/show/done" role="button") Done






