extends home
block content
    h1= title
    div.container
        button.btn-default(type="button"  name="pending") Pending
        button.btn-default(type="button"  name="active") Active
        button.btn-default(type="button"  name="done") Done






