//
   Created by lupita on 28/07/16.
doctype html
html
    link(rel='stylesheet', type='text/css', href='../styles.css')
    body
        // COMPLEX TO DO LIST
        .row.mt
            .col-md-12
                section.task-panel.tasks-widget
                    .panel-heading
                        .pull-left
                            h5
                                i.fa.fa-tasks
                                |  Todo List - Complex Style
                        br
                    .panel-body
                        .task-content
                            ul.task-list
                                li
                                    .task-checkbox
                                        input.list-child(type='checkbox', value='')
                                    .task-title
                                        span.task-title-sp Dashgum - Admin Panel Theme
                                        span.badge.bg-theme Done
                                        .pull-right.hidden-phone
                                            button.btn.btn-success.btn-xs
                                                i.fa.fa-check
                                            button.btn.btn-primary.btn-xs
                                                i.fa.fa-pencil
                                            button.btn.btn-danger.btn-xs
                                                i.fa.fa-trash-o
                                li
                                    .task-checkbox
                                        input.list-child(type='checkbox', value='')
                                    .task-title
                                        span.task-title-sp Extensive collection of plugins
                                        span.badge.bg-warning Cool
                                        .pull-right.hidden-phone
                                            button.btn.btn-success.btn-xs
                                                i.fa.fa-check
                                            button.btn.btn-primary.btn-xs
                                                i.fa.fa-pencil
                                            button.btn.btn-danger.btn-xs
                                                i.fa.fa-trash-o
                                li
                                    .task-checkbox
                                        input.list-child(type='checkbox', value='')
                                    .task-title
                                        span.task-title-sp Free updates always, no extra fees.
                                        span.badge.bg-success 2 Days
                                        .pull-right.hidden-phone
                                            button.btn.btn-success.btn-xs
                                                i.fa.fa-check
                                            button.btn.btn-primary.btn-xs
                                                i.fa.fa-pencil
                                            button.btn.btn-danger.btn-xs
                                                i.fa.fa-trash-o
                                li
                                    .task-checkbox
                                        input.list-child(type='checkbox', value='')
                                    .task-title
                                        span.task-title-sp More features coming soon
                                        span.badge.bg-info Tomorrow
                                        .pull-right.hidden-phone
                                            button.btn.btn-success.btn-xs
                                                i.fa.fa-check
                                            button.btn.btn-primary.btn-xs
                                                i.fa.fa-pencil
                                            button.btn.btn-danger.btn-xs
                                                i.fa.fa-trash-o
                                li
                                    .task-checkbox
                                        input.list-child(type='checkbox', value='')
                                    .task-title
                                        span.task-title-sp Hey, seriously, you should buy this Dashboard
                                        span.badge.bg-important Now
                                        .pull-right
                                            button.btn.btn-success.btn-xs
                                                i.fa.fa-check
                                            button.btn.btn-primary.btn-xs
                                                i.fa.fa-pencil
                                            button.btn.btn-danger.btn-xs
                                                i.fa.fa-trash-o
                        .add-task-row
                            a.btn.btn-success.btn-sm.pull-left(href='todo_list.html#') Add New Tasks
                            a.btn.btn-default.btn-sm.pull-right(href='todo_list.html#') See All Tasks
            // /col-md-12
        // /row
